{% extends "base.html" %}

{% load static %}

{% block title %}CREAR NUEVO TRABAJO{% endblock %}

{% block scc %}
    <link type='text/css' href="{% static 'css/trabajo_create.css' %}?v=2" rel='stylesheet'/>
{% endblock %}

{% block js-head %}
    <script src="{% static 'js/trabajo_create_head.js' %}"></script>
{% endblock %}

{% block js-body %}
    <script src="{% static 'js/trabajo_create_body.js' %}"></script>
{% endblock %}
        
{% block content %}
  <div class="container m-2">
    {% comment %} {{ request.resolver_match }} {% endcomment %}
    <h4>CREAR NUEVO TRABAJO</h4>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.management_form }}
        <div class="container m-2">
            <div class="row">
                <div class="col-auto">
                    <label for="fecha_receta" class="form-label">Fecha Receta:</label>
                </div>
                <div class="col-auto">
                    <input id="fecha_receta" type="date" name="fecha_receta" class="form-control" required />
                </div>
                <div class="col-auto">
                    <input id="fecha" type="hidden" name="fecha" class="form-control" value="{{ form.fecha.value|date:'Y-m-d h:m' }}" required readonly></input>
                </div>
            </div>
        </div>
        <hr>
        <div class="container m-2">
            <div class="row justify-content-start p-1">
                <div class="col-2 col-lg-1">
                    <label class="form-label" for="persona">Persona:</label>
                </div>
                <div class="col-4 col-lg-3">
                    {% if persona %}
                        <input class="form-control" type="text" value="{{ persona.apellido }}, {{ persona.nombre }}" aria-label="Disabled input example" disabled readonly>
                        <a href="{% url 'persona-trabajo-list-view' %}">¿Otro?</a>
                        <input id="persona" name="persona" value="{{ persona.id }}" hidden="False">
                    {% else %}
                        <a href="{% url 'persona-trabajo-list-view' %}">Buscar Persona</a>
                    {% endif %}
                </div>
                <div class="col-2 col-lg-1">
                    <label class="form-label">Telefono:</label>
                </div>
                <div class="col-4 col-lg-3">
                    <input class="form-control" type="text" value="{{ persona.tel1 }}" aria-label="Disabled input example" disabled readonly>
                </div>
            </div>
            <div class="row justify-content-start p-1">
                <div class="col-2 col-lg-1">
                    <label class="form-label">Domicilio:</label>
                </div>
                <div class="col-4 col-lg-3">
                    <input class="form-control" type="text" value="{{ persona.direccion }}" aria-label="Disabled input example" disabled readonly>
                </div>
                <div class="col-2 col-lg-1">
                    <label class="form-label">Celular:</label>
                </div>
                <div class="col-4 col-lg-3">
                    <input class="form-control" type="text" value="{{ persona.tel2 }}" aria-label="Disabled input example" disabled readonly>
                </div>
            </div>
        </div>
        <hr>
        <div class="container m-2">
            <div class="row justify-content-start p-1">
                <div class="col-2 col-lg-1">
                    <label class="form-label">Doctor:</label>
                </div>
                <div class="col-4 col-lg-2">
                    <select id="doctor" name="doctor" class="form-select" aria-label="Default select example">
                        {% for option in form.doctor %}
                            {{ option }}
                        {% endfor %}
                    </select>
                </div>
            </div>
        </div>
        <div class="container m-2">
            <div class="row">
                <div class="col-9 col-lg-6">
                    <table class="table table-bordered">
                        <tr>
                            <th colspan="1"></th>
                            <th class="table-active" colspan="3">LEJOS</th>
                            <th class="table-active" colspan="1">ADD</th>
                            <th class="table-active" colspan="3">CERCA</th>
                        </tr>
                        <tr>
                            <th class="col-1 table-active">OD</th>
                            <td class="col-1"><input class="form-control input-grad input-grad-float" id="od_lejos_esf" type="number" name="od_lejos_esf" step="0.25" value="0.00" onchange="this.value = limitarDecimales(this.value)" lang="en"></input></td>
                            <td class="col-1"><input class="form-control input-grad input-grad-float" id="od_lejos_cil" type="number" name="od_lejos_cil" step="0.25" value="0.00" onchange="this.value = limitarDecimales(this.value)" lang="en"></input></td>
                            <td class="col-1"><input class="form-control input-grad" id="od_lejos_eje" type="number" name="od_lejos_eje" min="0" max="180" step="1" value="0"></input></td>
                            <td class="col-1"><input class="form-control input-grad input-grad-float" id="od_add" type="number" name="od_add" step="0.25" value="0.00" onchange="this.value = limitarDecimales(this.value)" lang="en"></input></td>
                            <td class="col-1"><input class="form-control input-grad input-grad-float" id="od_cerca_esf" type="number" name="od_cerca_esf" step="0.25" value="0.00" onchange="this.value = limitarDecimales(this.value)" lang="en"></input></td>
                            <td class="col-1"><input class="form-control input-grad input-grad-float" id="od_cerca_cil" type="number" name="od_cerca_cil" step="0.25" value="0.00" onchange="this.value = limitarDecimales(this.value)" lang="en"></input></td>
                            <td class="col-1"><input class="form-control input-grad" id="od_cerca_eje" type="number" name="od_cerca_eje" min="0" max="180" step="1" value="0"></input></td>
                        </tr>
                        <tr>
                            <th class="col-1 table-active">OI</th>
                            <td class="col-1"><input class="form-control input-grad input-grad-float" id="oi_lejos_esf" type="number" name="oi_lejos_esf" step="0.25" value="0.00" onchange="this.value = limitarDecimales(this.value)" lang="en"></input></td>
                            <td class="col-1"><input class="form-control input-grad input-grad-float" id="oi_lejos_cil" type="number" name="oi_lejos_cil" step="0.25" value="0.00" onchange="this.value = limitarDecimales(this.value)" lang="en"></input></td>
                            <td class="col-1"><input class="form-control input-grad" id="oi_lejos_eje" type="number" name="oi_lejos_eje" min="0" max="180" step="1" value="0"></input></td>
                            <td class="col-1"><input class="form-control input-grad input-grad-float" id="oi_add" type="number" name="oi_add" step="0.25" value="0.00" onchange="this.value = limitarDecimales(this.value)" lang="en"></input></td>
                            <td class="col-1"><input class="form-control input-grad input-grad-float" id="oi_cerca_esf" type="number" name="oi_cerca_esf" step="0.25" value="0.00" onchange="this.value = limitarDecimales(this.value)" lang="en"></input></td>
                            <td class="col-1"><input class="form-control input-grad input-grad-float" id="oi_cerca_cil" type="number" name="oi_cerca_cil" step="0.25" value="0.00" onchange="this.value = limitarDecimales(this.value)" lang="en"></input></td>
                            <td class="col-1"><input class="form-control input-grad" id="oi_cerca_eje" type="number" name="oi_cerca_eje" min="0" max="180" step="1" value="0"></input></td>
                        </tr>
                    </table>
                </div>
                <div class="col-3 col-lg-4">
                    <div class="form-floating">
                        <textarea style="height: 150px;" class="form-control" placeholder="Leave a comment here" id="observacion" name="observacion" rows="10" cols="50"></textarea>
                        <label for="floatingTextarea">Observaciones</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="container m-2">
            <div class="row p-1">
                <div class="col-auto">
                    <label class="form-label fw-bold">TIPO TRABAJO:</label>
                </div>
                <div class="col-auto">
                    {% for key,value in tipos_trabajo.items %}
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="tipo_trabajo" id="tipo_trabajo_{{ key }}" value="{{ key }}"  {% if key == "MONO" %}checked{% endif %} required>
                            <label class="form-check-label" for="tipo_trabajo_{{ key }}">{{ value }}</label>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="container m-2" id="grupo-anteojo-monofocal" style="display: none;">
            <div class="row">
                <div class="col-2 col-lg-1">
                    <label class="form-label"><b>LENTES</b></label>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-1">
                </div>
                <div class="col-2 col-lg-1">
                    <label class="form-label">LEJOS:</label>
                </div>
                <div class="col-4 col-lg-3">
                    {{ formset_lente_lejos.management_form }}
                    {{ formset_lente_lejos.0.lente }}
                </div>
                <div class="col-5 text-end grupo-monto">
                    $0.00
                </div>
            </div>
            <div class="row p-1">
                <div class="col-1">
                </div>
                <div class="col-2 col-lg-1">
                    <label class="form-label">CERCA:</label>
                </div>
                <div class="col-4 col-lg-3">
                    {{ formset_lente_cerca.management_form }}
                    {{ formset_lente_cerca.0.lente }}
                </div>
                <div class="col-5 text-end grupo-monto">
                    $0.00
                </div>
            </div>
            <div class="row">
                <div class="col-2 col-lg-1">
                    <label class="form-label"><b>TRATAMIENTO:</b></label>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-1">
                </div>
                <div class="col-2 col-lg-1">
                    <label class="form-label">LEJOS:</label>
                </div>
                <div class="col-4 col-lg-3">
                    {{ formset_tratamiento_cerca.management_form }}
                    {{ formset_tratamiento_cerca.0.tratamiento }}
                </div>
                <div class="col-5 text-end grupo-monto">
                    $0.00
                </div>
            </div>
            <div class="row p-1">
                <div class="col-1">
                </div>
                <div class="col-2 col-lg-1">
                    <label class="form-label">CERCA:</label>
                </div>
                <div class="col-4 col-lg-3">
                    {{ formset_tratamiento_cerca.management_form }}
                    {{ formset_tratamiento_cerca.0.tratamiento }}
                </div>
                <div class="col-5 text-end grupo-monto">
                    $0.00
                </div>
            </div>
            <div class="row">
                <div class="col-3 col-lg-2">
                    <label class="form-label"><b>ARMAZON:</b></label>
                </div>
                <div class="col-4 col-lg-3">
                </div>
                <div class="col-3 col-lg-2">
                    <label class="form-label"><b>MATERIAL:</b></label>
                </div>
            </div>
            <div class="row p-1">
                <div class="col-1">
                </div>
                <div class="col-2 col-lg-1">
                    <label class="form-label">LEJOS:</label>
                </div>
                <div class="col-4 col-lg-3">
                    {{ formset_armazon_lejos.management_form }}
                    {{ formset_armazon_lejos.0.armazon }}
                </div>
                <div class="col-1">
                </div>
                <div class="col-4 col-lg-3">
                    {{ formset_material_lejos.management_form }}
                    {{ formset_material_lejos.0.material }}
                </div>
                <div class="col-1 text-end grupo-monto">
                    $0.00
                </div>
            </div>
            <div class="row p-1">
                <div class="col-1">
                </div>
                <div class="col-2 col-lg-1">
                    <label class="form-label">CERCA:</label>
                </div>
                <div class="col-4 col-lg-3">
                    {{ formset_armazon_cerca.management_form }}
                    {{ formset_armazon_cerca.0.armazon }}
                </div>
                <div class="col-1">
                </div>
                <div class="col-4 col-lg-3">
                    {{ formset_material_cerca.management_form }}
                    {{ formset_material_cerca.0.material }}
                </div>
                <div class="col-1 text-end grupo-monto">
                    $0.00
                </div>
            </div>


        </div>


        <div class="container m-2" id="grupo-anteojo-unico" style="display: block;">
            <div class="row p-1">
                <div class="col-3 col-lg-2">
                    <label class="form-label"><b>LENTE:</b></label>
                </div>
                <div class="col-4 col-lg-3">
                    {{ formset_lente_unico.management_form }}
                    {{ formset_lente_unico.0.lente }}
                </div>
                <div class="col-5 text-end grupo-monto">
                    $0.00
                </div>
            </div>
            <div class="row p-1">
                <div class="col-3 col-lg-2">
                    <label class="form-label"><b>TRATAMIENTO:</b></label>
                </div>
                <div class="col-4 col-lg-3">
                    {{ formset_tratamiento_unico.management_form }}
                    {{ formset_tratamiento_unico.0.tratamiento }}
                </div>
                <div class="col-5 text-end grupo-monto">
                    $0.00
                </div>
            </div>
            <div class="row p-1">
                <div class="col-3 col-lg-2">
                    <label class="form-label"><b>ARMAZÓN:</b></label>
                </div>
                <div class="col-4 col-lg-3">
                    {{ formset_armazon_unico.management_form }}
                    {{ formset_armazon_unico.0.armazon }}
                </div>
                <div class="col-3 col-lg-1">
                    <label class="form-label"><b>MATERIAL:</b></label>
                </div>
                <div class="col-4 col-lg-3">
                    {{ formset_material_unico.management_form }}
                    {{ formset_material_unico.0.material }}
                </div>
                <div class="col-1 text-end grupo-monto">
                    $0.00
                </div>
            </div>
        </div>
        <div class="container m-2">
            <div class="row p-1">
                <div class="col-3 col-lg-2">
                    <label class="form-label">OBRA SOCIAL:</label>
                </div>
                <div class="col-4 col-lg-3">
                    <select id="obra_social" name="obra_social" class="form-select" aria-label="Default select example">
                        {% for option in form.obra_social %}
                            {{ option }}
                        {% endfor %}
                    </select>
                </div>
                <div class="col-3">
                    $0.00
                </div>
            </div>
            <div class="row p-1">
                <div class="col-7 col-lg-5">
                    <label class="form-label">TOTAL:</label>
                </div>
                <div class="col-3">
                    $0.00
                </div>
            </div>
        </div>
        <div class="container m-2">
            <div class="row">
                <div class="col-auto">
                    <input class="btn btn-success" type="submit" value="Grabar">
                </div>
                <div class="col-auto">
                    <a class="btn btn-secondary" href="{% url 'trabajo-list-view'%}">Volver</a>
                </div>
            </div>
        </div>
    </form>
  </div>
{% endblock %}

