{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>CREAR NUEVO TRABAJO</title>
        <link type='text/css' href="{% static 'css/trabajo_create.css' %}" rel='stylesheet'/>
        <meta charset="utf-8">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <style type="text/css">  
            /* input[type=number]::-webkit-inner-spin-button, 
            input[type=number]::-webkit-outer-spin-button { 
              -webkit-appearance: none; 
              margin: 0; 
            } */
            .input-grad {
                padding: 3px 0 3px 1px;
            }
        </style>
    </head>
    <body>
        <h1>CREAR NUEVO TRABAJO</h1>
        <br>
        <form action="" method="post">
            {% csrf_token %}
            {{ form.management_form }}
            <div class="container m-2">
                <div class="row">
                    <div class="col-auto">
                        <label for="fecha_receta" class="form-label">Fecha:</label>
                    </div>
                    <div class="col-auto">
                        <input id="fecha_receta" type="date" name="fecha_receta" class="form-control" required>
                            {{ fecha }}
                        </input>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container m-2">
                <div class="row justify-content-start">
                    <div class="col-2 col-lg-1">
                        <label class="form-label" for="persona">Persona:</label>
                    </div>
                    <div class="col-4 col-lg-2">
                        {% if persona %}
                            <input class="form-control" type="text" value="{{ persona.apellido }}, {{ persona.nombre }}" aria-label="Disabled input example" disabled readonly>
                            <input id="persona" name="persona" value="{{ persona.id }}" hidden="False">
                        {% else %}
                            <a href="{% url 'trabajo-list-view'%}">Buscar Persona</a>
                        {% endif %}
                    </div>
                    <div class="col-2 col-lg-1">
                        <label class="form-label">Telefono:</label>
                    </div>
                    <div class="col-4 col-lg-2">
                        <input class="form-control" type="text" value="{{ persona.tel1 }}" aria-label="Disabled input example" disabled readonly>
                    </div>
                </div>
                <div class="row justify-content-start">
                    <div class="col-2 col-lg-1">
                        <label class="form-label">Domicilio:</label>
                    </div>
                    <div class="col-4 col-lg-2">
                        <input class="form-control" type="text" value="{{ persona.direccion }}" aria-label="Disabled input example" disabled readonly>
                    </div>
                    <div class="col-2 col-lg-1">
                        <label class="form-label">Celular:</label>
                    </div>
                    <div class="col-4 col-lg-2">
                        <input class="form-control" type="text" value="{{ persona.tel2 }}" aria-label="Disabled input example" disabled readonly>
                    </div>
                </div>
            </div>
            <hr>
            <div class="container m-2">
                <div class="row justify-content-start">
                    <div class="col-2 col-lg-1">
                        <label class="form-label">Doctor:</label>
                    </div>
                    <div class="col-4 col-lg-2">
                        <select id="doctor" name="doctor" class="form-select" aria-label="Default select example">
                            {% for option in form.doctor %}
                                {{ option }}
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="container m-2">
                <div class="row">
                    <div class="col-9 col-lg-6">
                        <table class="table table-bordered">
                            <tr>
                                <th colspan="1"></th>
                                <th class="table-active" colspan="3">LEJOS</th>
                                <th class="table-active" colspan="1">ADD</th>
                                <th class="table-active" colspan="3">CERCA</th>
                            </tr>
                            <tr>
                                <th class="col-1 table-active">OD</th>
                                <td class="col-1"><input class="form-control input-grad" id="od_lejos_esf" type="number" name="od_lejos_esf" step="0.25" value="0">{{ form.od_lejos_esf.value }}</input></td>
                                <td class="col-1"><input class="form-control input-grad" id="od_lejos_cil" type="number" name="od_lejos_cil" step="0.25" value="0">{{ form.od_lejos_cil.value }}</input></td>
                                <td class="col-1"><input class="form-control input-grad" id="od_lejos_eje" type="number" name="od_lejos_eje" min="0" max="180" step="1" value="0">{{ form.od_lejos_eje.value }}</input></td>
                                <td class="col-1"><input class="form-control input-grad" id="od_add" type="number" name="od_add" step="0.25" value="0">{{ form.od_add.value }}</input></td>
                                <td class="col-1"><input class="form-control input-grad" id="od_cerca_esf" type="number" name="od_cerca_esf" step="0.25" value="0">{{ form.od_cerca_esf.value }}</input></td>
                                <td class="col-1"><input class="form-control input-grad" id="od_cerca_cil" type="number" name="od_cerca_cil" step="0.25" value="0">{{ form.od_cerca_cil.value }}</input></td>
                                <td class="col-1"><input class="form-control input-grad" id="od_cerca_eje" type="number" name="od_cerca_eje" min="0" max="180" step="1" value="0">{{ form.od_cerca_eje.value }}</input></td>
                            </tr>
                            <tr>
                                <th class="col-1 table-active">OI</th>
                                <td class="col-1"><input class="form-control input-grad" id="oi_lejos_esf" type="number" name="oi_lejos_esf" step="0.25" value="0">{{ form.oi_lejos_esf.value }}</input></td>
                                <td class="col-1"><input class="form-control input-grad" id="oi_lejos_cil" type="number" name="oi_lejos_cil" step="0.25" value="0">{{ form.oi_lejos_cil.value }}</input></td>
                                <td class="col-1"><input class="form-control input-grad" id="oi_lejos_eje" type="number" name="oi_lejos_eje" min="0" max="180" step="1" value="0">{{ form.oi_lejos_eje.value }}</input></td>
                                <td class="col-1"><input class="form-control input-grad" id="oi_add" type="number" name="oi_add" step="0.25" value="0">{{ form.oi_add.value }}</input></td>
                                <td class="col-1"><input class="form-control input-grad" id="oi_cerca_esf" type="number" name="oi_cerca_esf" step="0.25" value="0">{{ form.oi_cerca_esf.value }}</input></td>
                                <td class="col-1"><input class="form-control input-grad" id="oi_cerca_cil" type="number" name="oi_cerca_cil" step="0.25" value="0">{{ form.oi_cerca_cil.value }}</input></td>
                                <td class="col-1"><input class="form-control input-grad" id="oi_cerca_eje" type="number" name="oi_cerca_eje" min="0" max="180" step="1" value="0">{{ form.oi_cerca_eje.value }}</input></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-3 col-lg-4">
                        <div class="form-floating">
                            <textarea style="height: 150px;" class="form-control" placeholder="Leave a comment here" id="observacion" name="observacion" rows="10" cols="50">{{ form.observacion }}</textarea>
                            <label for="floatingTextarea">Observaciones</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container m-2">
                <div class="row">
                    <div class="col-3 col-lg-2">
                        <label class="form-label">LENTE:</label>
                    </div>
                    <div class="col-3">
                        <select id="lente" class="form-select" aria-label="Default select example">
                            {% for option in form.lente %}
                                {{ option }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-2">
                        $0.00
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-lg-2">
                        <label class="form-label">TRATAMIENTO:</label>
                    </div>
                    <div class="col-3">
                        <select id="tratamiento" class="form-select" aria-label="Default select example">
                            {% for option in form.tratamiento %}
                                {{ option }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                        $0.00
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-lg-2">
                        <label class="form-label">ARMAZÓN:</label>
                    </div>
                    <div class="col-3">
                        <select id="armazon" class="form-select" aria-label="Default select example">
                            {% for option in form.armazon %}
                                {{ option }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                        $0.00
                    </div>
                </div>
                <div class="row">
                    <div class="col-3 col-lg-2">
                        <label class="form-label">OBRA SOCIAL:</label>
                    </div>
                    <div class="col-3">
                        <select id="obra_social" class="form-select" aria-label="Default select example">
                            {% for option in form.obra_social %}
                                {{ option }}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-3">
                        $0.00
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-lg-5">
                        <label class="form-label">TOTAL:</label>
                    </div>
                    <div class="col-3">
                        $0.00
                    </div>
                </div>
            </div>
            <br>
            <input class="btn btn-primary" type="submit" value="Agregar">
        </form>

        <a href="{% url 'trabajo-list-view'%}">>Ir a la planilla<</a>
        
        <script src="{% static 'js/trabajo_create_body.js' %}"></script> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    </body>
</html>