{% extends "base.html" %}

{% block title %}Armazón{% endblock %}

{% block content %}
  <div class="container m-2">
    <div class="row">
      <div class="col-4 col-lg-4">
        <h1>ARMAZONES</h1>
      </div>
      <div class="col-4 col-lg-3">
        <a class="btn btn-primary" href="{% url 'armazon-create-view' %}">Agregar Nuevo Armazón</a>
      </div>
    </div>
    <div class="col-8 col-lg-6">
      <table class="table table-striped table-bordered">
        <tr>
          <th>Descripción</th>
          <th></th>
        </tr>
        {% for armazon in object_list %}
        <tr>
            <td>{{ armazon.descripcion }}</td>
            <td>
              <a class="btn btn-primary m-1" href="{% url 'armazon-update-view' armazon.id %}"> 
                <i class="bi bi-pencil-square"></i>
                <span>Modificar</span> 
              </a> 
              <a class="btn btn-danger m-1" href="{% url 'armazon-delete-view' armazon.id %}"> 
                <i class="bi bi-file-earmark-x"></i>
                <span>Borrar</span> 
              </a>
            </td>
          </tr>
        {% empty %}
        No hay armazones registradas.
        {% endfor %}
      </table>
    </div>
  </div>
{% endblock %}
