{% extends "base.html" %}

{% block title %}Persona{% endblock %}

{% block content %}
  <div class="container m-2">
    <div class="row">
      <div class="row">
        <h1>PERSONAS</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <form action="" method="get">
          <p>Buscar por:</p>
          apellido: <input type="text" name="apellido" value={{buscar_apellido}}>
          <input type="submit" value="Buscar">
        </form>
      </div>
      <div class="col-4 text-end">
        <a class="btn btn-primary" href="{% url 'persona-create-view' %}">Agregar Nueva Persona</a>
      </div>
    </div>
  </div>
  <div class="container m-2">
    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <tr>
          <th>Apellido, Nombre</th>
          <th>Dirección</th>
          <th>Localidad</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Obra Social</th>
          <th></th>
        </tr>
        {% for persona in object_list %}
        <tr>
            <td>{{ persona.apellido }}, {{ persona.nombre }}</td>
            <td>{{ persona.direccion }}</td>
            <td>{{ persona.ciudad }}</td>
            <td>{{ persona.mail }}</td>
            <td>{{ persona.tel1 }} {% if persona.tel2 %} <br>{{ persona.tel2 }} {% endif %}</td>
            <td>
              {% if persona.obras_sociales.all %}
                <ul class="list-unstyled mb-0">
                  {% for obra in persona.obras_sociales.all %}
                    <li class="mb-1">
                      <span class="badge bg-light text-dark">{{ obra.descripcion }}</span>
                    </li>
                  {% endfor %}
                </ul>               
              {% endif %}
            </td>
            <td>
              <a class="btn btn-primary m-1" href="{% url 'persona-detail-view' persona.id %}"> 
                <i class="bi bi-eye"></i>
              </a> 
              <a class="btn btn-secondary m-1" href="{% url 'persona-update-view' persona.id %}"> 
                <i class="bi bi-pencil-square"></i>
              </a> 
              <a class="btn btn-danger m-1" href="{% url 'persona-delete-view' persona.id %}"> 
                <i class="bi bi-file-earmark-x"></i>
              </a>
            </td>
          </tr>
        {% empty %}
        No hay personas registrados.
        {% endfor %}
      </table>
    </div>
  </div>
  
  {# Sección de paginado corregida #}
  {% if page_obj.has_other_pages %}
  <div class="container m-2">  
    <div class="row">
      <form method="get">
        {% if buscar_apellido %}
        <input type="hidden" name="apellido" value="{{ buscar_apellido }}">
        {% endif %}
        
        <ul class="pagination">
          {% if page_obj.has_previous %}
            <li class="page-item">
              <button class="page-link" name="page" type="submit" value="1">Primero</button>
            </li>
            <li class="page-item">
              <button class="page-link" name="page" type="submit" value="{{ page_obj.previous_page_number }}">Anterior</button>
            </li>
          {% endif %}
          
          {% for page_num in page_obj.paginator.page_range %}
            {% if page_num >= page_obj.number|add:-5 and page_num <= page_obj.number|add:5 %}
              <li class="page-item {% if page_obj.number == page_num %}active{% endif %}">
                <button class="page-link" name="page" type="submit" value="{{ page_num }}">
                  {{ page_num }}
                </button>
              </li>
            {% endif %}
          {% endfor %}
          
          {% if page_obj.has_next %}
            <li class="page-item">
              <button class="page-link" name="page" type="submit" value="{{ page_obj.next_page_number }}">Siguiente</button>
            </li>
            <li class="page-item">
              <button class="page-link" name="page" type="submit" value="{{ page_obj.paginator.num_pages }}">Último</button>
            </li>
          {% endif %}
        </ul>
      </form>
    </div>
  </div>
  {% endif %}
{% endblock %}
