/* Ocultar flechitas en inputs numéricos en todos los navegadores */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}

input[type=number] { 
    -moz-appearance: textfield;
    appearance: textfield;
    text-align: right;
}

.input-grad {
    padding: 3px 0 3px 1px;
}
